In [1]:
# importing dependencies
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2
from sqlalchemy.sql import text

import time
from getpass import getpass

In [2]:
# Load CSVs
nba_stats = "Resources/nba_stats.csv"
nba_advanced_stats = "Resources/advanced_stats.csv"

In [3]:
# Create DataFrames
nba_stats2021 = pd.read_csv(nba_stats)
nba_advanced2021 = pd.read_csv(nba_advanced_stats)

In [4]:
 # Create the connection to the postgres database and convert the NBA DataFrame to a sql db
    # and replace the data in the tables.
    
#Create Database name in PG Admin first
db_password = getpass()
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Player_Analysis"
engine = create_engine(db_string)

········

In [12]:
#Drop/Cascade Exsisting Tables & Create SQL Tables
with engine.connect() as con:
    #Drop Existing Tables
    statements = [
        # Might only need the first time ----------
        "DROP TABLE IF EXISTS nba_stats CASCADE", 
        "DROP TABLE IF EXISTS advanced CASCADE"]
        #------------------------------------------
        #"DROP TABLE IF EXISTS main CASCADE", 
        #"DROP TABLE IF EXISTS misc CASCADE"]

    for statement in statements:
        con.execute(statement)
        
        #Create Table Columns
        # we ill want to get rid of player table all together.
        create_table_statements = [
        text( """CREATE TABLE nba_stats (
        player VARCHAR NOT NULL,
        pos VARCHAR,
        age int,
        tm VARCHAR,
        g int,
        gs int,
        mp int,
        fg int,
        fga int,
        threepoint int,
        threepoint_att int,
        threepoint_percent float,
        twopoint int,
        twopoint_att int,
        twopoint_percent float,
        orb int,
        drb int,
        trb int,
        ast int,
        stl int,
        blk int,
        tov int,
        pf int,
        pts int,
        PRIMARY KEY (player),
        UNIQUE (player));"""),
        text( """CREATE TABLE advanced (
        player VARCHAR NOT NULL,
        pos VARCHAR,
        age	int,
        tm	int,
        g int,
        mp int,
        per int,
        ts_percent int,
        threepoint_attr int,	
        ftr int,
        orb_percent	float,
        drb_percent float,	
        trb_percent float,	
        ast_percent float,	
        stl_percent float,	
        blk_percent float,
        tov_percent float,
        usg_percent float, 	 	
        ows int,	
        dws int,	
        ws int, 	
        ws_per_48 int,	 	
        obpm int,	
        dbpm int,	
        bpm int,	
        vorp int, 
        FOREIGN KEY (player) REFERENCES nba_stats (player),
        PRIMARY KEY (player));""")]
    
    
    for create_table_statement in create_table_statements:
        con.execute(create_table_statement)